.list {
  list-style: none;
  border-bottom: 1px solid gray;
  font-size: 2rem;
  margin-bottom: 0rem;
}

.list:hover,
.list:active {
  background: lightgray;
}

.item {
  display: grid;
  grid-template-columns: 5% 70% 25%;
  align-items: center;
  justify-content: start;
  padding: 1rem 1.5rem;
}

.item input {
  transform: scale(1.3);
}

.icon {
  justify-self: end;
  margin-right: 1.5rem;
  transform: scale(1.1);
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.iconStar {
  stroke: blue;
  stroke-width: 30rem;
  color: black;
}

.iconStar:hover,
.iconStar:active {
  color: blue;
}
